<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!------------------------------Bootstrap Jquery Popper.js---------------------------------->
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="/webjars/popper.js/1.14.1/popper.min.js"></script>-->
    <script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!------------------------------Static files------------------------------>
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <script src="/static/javascripts/script.js"></script>

    <title>Hello, World!!!</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button type="button" class="usButton" data-toggle="modal" data-target="#exampleModal">Modal</button>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="main">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 order-md-second order-lg-first col-sm-12">
                    <div class="flex">
                        <div class="card" style="width: 18rem;">
                            <div class="clock"><h1 id="clock">00:00:00</h1></div>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, nihil.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 order-md-first order-lg-second col-sm-12">
                    <div class="withColour"><h1 id="name">{{name}}</h1></div></div>
                <div class="col-lg-3 col-md-6 order-md-last order-lg-last col-sm-12">
                    <div class="flex">
                        <div class="card" style="width: 18rem;">
                            <div class="img"></div>
                            <div class="card-body">
                                <h5 class="card-title">Cменить цвет фона</h5>
                                <button id="change_colour" class="btn btn-primary"> Сменить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Example modal</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>